@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --font-seymour: 'Seymour One', sans-serif, 400;
}

body {
    color: rgb(var(--foreground-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

h1, h2 {
    font-family: var(--font-seymour), sans-serif;
}

.link-svg {
    transition: stroke-dashoffset 1500ms 250ms;
    stroke: rgba(16 97 50 / 1);
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    height: 20px;
    width: 150px;
    position: absolute;
    top: 20px;
}

.nav-link:hover {
    svg {
        stroke-dashoffset: 0;
    }
}
